.i-layout {
  width: 100%;
  height: 100%;
  min-width: 1226px;
  background-color: $bgPrimaryColor;
  text-shadow: 0 0 30px rgba(0,0,0,.7);
  &::-webkit-scrollbar {
    display: none;
  }
  &-wrap {
    width: 100%;
    height: 100%;
  }
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    min-height: 820px;
    .brand-bar {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), #000);
      color: #fff;
      font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 19px;
      z-index: 100;
      &.is-chinese{
        .menu-gateway-nav{
          .menu-gateway-nav-container{
            font-size: 16px !important;
          }
        }
      }
      .brand-bar__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1500px;
        height: 50px;
        .info{
          .logo {
            display: flex;
            span {
              white-space: nowrap;
            }
          }
        }
        .menu-gateway-nav {
          display: flex;
          align-items: center;
          height: 100%;
          .gateway-nav--label {
            display: flex;
            align-items: center;
            height: 100%;
            font-weight: 600;
            margin-right: 14px;
          }
          .menu-gateway-nav-container {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 19px;
            .menu {
              display: flex;
              height: 100%;
              .menu-item {
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0 12px;
                font-weight: 400;
                position: relative;
                cursor: pointer;
                &::before {
                  position: absolute;
                  top: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  content: "";
                  width: 0;
                  height: 3px;
                  background-color: #fff;
                  transition: width 0.3s;
                }
                &:hover {
                  &::before {
                    width: 100%;
                  }
                }
              }
            }
            .search-toggle {
              display: flex;
              align-items: center;
              height: 100%;
              margin: 10px;
              padding: 0 19px;
              transition: all 0.3s;
              cursor: pointer;
              &:hover {
                background-color: #b1040e;
              }
              .search-toggle-inner {
                margin-left: 10px;
              }
            }
            .switch-logo{
              margin: 0 8px;
            }
            .login{
              display: flex;
              align-items: center;
              height: 100%;
              padding: 0 16px;
              cursor: pointer;
              transition: all 0.3s;
              &:hover {
                background-color: #b1040e;
              }
            }
          }
        }
      }
    }
    .menu-primary-nav-container {
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 0 234px;
      z-index: 99;
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .menu-item {
          height: 100%;
          display: flex;
          align-items: center;
          color: #fff;
          font-size: 19px;
          font-weight: 600;
          margin-right: 1.16em;
          cursor: pointer;
          position: relative;

          &:last-child {
            margin-right: 0;
          }
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 0;
            height: 3px;
            background-color: #fff;
            transition: width 0.3s linear;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    .panel-collection {
      position: fixed;
      z-index: 1;
      width: 100%;
      img {
        width: 100%;
      }
      .panel-collection-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 90px;
        color: #fff;
      }
    }
  }
  &-body {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 1000;
    &-content {
      flex: 1;
      height: 100%;
      overflow: hidden;
      .i-layout-body-content__wrap {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
// 语言选择弹窗的样式
.language-list{
  padding: 8px;
  .language-item{
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
      cursor: pointer;
    }
  }
}